# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/data/
/code/freeze-model/
/code/persistable-params/
/code/persistable-params1/
/code/logs/